.wrapper{
    margin-right:2rem;
    margin-left:2rem;
}
@media (min-width:500px){
    .wrapper{
        display:inline-block;
        width:calc(500px - 4rem);
    }
}
.page-section{
    padding-top:2rem;
    padding-bottom:2rem;
}